<div class="col-lg-12">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">Receitas</strong>
      </div>
      <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Jan.</th>
                <th scope="col">Fev.</th>
                <th scope="col">Mar.</th>
                <th scope="col">Abr.</th>
                <th scope="col">Mai.</th>
                <th scope="col">Jun.</th>
                <th scope="col">Julo</th>
                <th scope="col">Ago.</th>
                <th scope="col">Set.</th>
                <th scope="col">Out.</th>
                <th scope="col">Nov.</th>
                <th scope="col">Dez.</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @list_receitas.each do |value| %>
                <tr>
                  <td><%= value[0].nome %></td>
                  <% value[1].each do |valor| %>
                    <td><%= valor.round(2) %></td>
                  <% end %>
                </tr>
              <% end %>
              
              <tr>
                <th>Total</th>
                <% @lista_receitas_total.each do |total| %>
                    <td><%= total.round(2) %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>