<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1> Adicionar Despesa</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Despesa</a></li>
          <li class="active">Adicionar</li>
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Gerar Balanço</strong>
          </div>
          <div class="card-body card-block">
            <%= form_tag(relatorio_path, method: :post)  do |f| %>
              <div class="col col-md-6">
                <div class="form-group">
                  <div class="col col-md-6">
                    <label class="form-control-label" for="ano">Ano:</label>
                  </div>
                  <div class="col col-md-6">
                    <input type="text" name="ano" class="form-control" placeholder= "Digite o ano..." />
                    <!--<small class="form-text text-muted">This is a help text</small></div>-->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-md-12">
                  <div class="row">
                    <button type="submit" class="btn btn-primary btn-sm">
                      <i class="fa fa-dot-circle-o"></i> Gerar
                    </button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
